<%= form_with(model: movie) do |form| %>
<% if movie.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% movie.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :Name, class: label_class %>
          <%= form.text_field :Name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Time, class: label_class %>
          <%= form.number_field :Time, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :Genre, class: label_class %>
          <%= form.text_field :Genre, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if movie.persisted? %>
<%= link_to "Cancel", movie, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", movies_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
