<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Cinema</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to cinemas_path, class: button_class(theme: "transparent") do %>
      All Cinemas
      <% end %>
      <%= link_to edit_cinema_path(@cinema), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Room:</p>
        <p><%= @cinema.Room %></p>
      </li>
      <li>
        <p class="font-semibold">Row:</p>
        <p><%= @cinema.Row %></p>
      </li>
      <li>
        <p class="font-semibold">Number:</p>
        <p><%= @cinema.Number %></p>
      </li>
  </ul>
</div>
